/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1299px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .responsibilities-title::after {
    width: 30%;
  }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1049px) {
  body {
    font-size: 20px;
  }

  .contact-form {
    width: 85%;
  }

  .line {
    padding: 3px;
  }

  .responsibilities-title::after {
    width: 40%;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 17px;
  }

  .nav-item {
    margin: 2px;
  }

  .name-brand {
    font-size: 24px;
    width: 45%;
    margin-right: auto;
    padding-left: 5px;
  }

  .name-brand:after {
    display: none;
  }

  .main-nav {
    display: inline-block;
  }

  .experience-group {
    width: 80%;
    margin-left: 10%;
  }

  .nav-list {
    padding: 5px;
  }

  .navbar-row {
    padding: 25px 10px;
  }

  .group {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .group:first-child {
    margin-top: 0;
  }

  .experience-point {
    padding: 5px;
  }

  .experience-group-header {
    font-size: 90%;
  }

  .experience-point-header {
    display: flex;
    flex-direction: column;
  }

  .experience-point-header h3 {
    margin-bottom: 5px;
  }

  .project-img {
    max-width: 350px;
    max-height: 250px;
    min-width: 250px;
    min-height: 150px;
    opacity: 0.8;
    margin-top: 10px;
  }

  .project {
    background-color: transparent;
  }

  .project-description {
    font-size: 80%;
  }

  .responsibilities-title::after {
    width: 50%;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  section {
    margin-top: 50px;
  }

  a {
    font-size: 80%;
  }

  header p {
    font-size: 80%;
    width: 80%;
  }

  .line {
    margin: 0 15px;
  }

  .buttons {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .btn-ghost {
    margin-top: 10px;
  }

  .main-nav {
    display: none;
  }

  .mobile-nav {
    display: inline-block;
  }

  .main-nav {
    margin-left: 25px;
  }

  .nav-list {
    float: left;
    display: block;
  }

  .nav-item a:link,
  .nav-item a:visited {
    display: block;
    border: 0;
    padding: 5px;
  }

  .nav-item a:hover,
  .nav-item a:active {
    border: transparent;
  }

  .nav-item {
    margin: 2px;
  }

  .name-brand {
    width: 100%;
  }

  .name-brand:after {
    margin-left: 5%;
  }

  .hero-text-box h1 span {
    font-size: 40%;
  }

  .nav-list {
    padding: 5px;
  }

  .contact-form {
    width: 100%;
    margin: 0;
  }

  .copyright {
    width: 100%;
    font-size: 70%;
    text-align: center;
    margin: 25px 20px 0 0;
  }

  .submit {
    width: 100%;
    margin-top: 5px;
  }

  .btn {
    font-size: 90%;
  }

  .project {
    background-color: transparent;
    margin-left: 0;
    display: flex;
    justify-self: center;
  }

  .experience-skills-responsibilities {
    font-size: 75%;
  }

  .experience-group-header {
    font-size: 70%;
  }

  .experience-group {
    width: 90%;
    margin-left: 5%;
  }

  .experience-skills {
    margin-right: 5px;
  }

  .experience-img {
    width: 50px;
    height: 50px;
  }

  .project-img {
    max-width: 320px;
    max-height: 180px;
    min-width: 220px;
    min-height: 100px;
    margin-left: 10px;
  }

  figure {
    align-self: center;
  }

  .project-description {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .middle-project {
    flex-direction: column;
  }

  .buttons {
    width: 90%;
  }

  .responsibilities-title::after {
    width: 70%;
  }

  footer {
    font-size: 110%;
  }

  header {
    background: center center cover no-repeat fixed;
  }

  header h3 {
    font-size: 110%;
  }
}
