/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 20px;
  background-color: #eeeeee;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.row {
  max-width: 1250px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

section {
  margin-top: 80px;
}

*:focus {
  outline: none;
}

/* HEADINGS */
h1 {
  color: #eeeeee;
  margin-bottom: 10px;
  word-spacing: 4px;
  font-size: 350%;
  letter-spacing: 1px;
}

h2 {
  color: #3a4750;
  font-size: 180%;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 25px;
  text-align: center;
  padding: 10px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e74c3c;
  content: " ";
  width: 20%;
  margin-left: 40%;
  margin-top: 5px;
}

h3 {
  color: #303841;
}

/* NAVBAR */
nav {
  background-color: rgba(39, 38, 38, 0.5);
}

.navbar-row {
  display: flex;
  align-items: center;
  padding: 10px;
}

.name-brand {
  margin-right: auto;
  color: #eeeeee;
  font-weight: 400;
  font-size: 150%;
  margin-bottom: 0;
}

.name-brand:after {
  display: block;
  height: 2px;
  background-color: #e74c3c;
  content: " ";
  width: 80%;
  margin-left: 10%;
  margin-top: 5px;
}

.nav-list {
  padding: 20px;
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 0 15px;
}

.nav-item a:link,
.nav-item a:visited {
  padding: 5px 3px;
  color: #eeeeee;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-item a:hover,
.nav-item a:active {
  border-bottom: 3px solid #e74c3c;
}

.mobile-nav {
  display: none;
  color: #eeeeee;
  font-size: 180%;
  cursor: pointer;
}

/* HEADER */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1200px;
  top: 20%;
  left: 5%;
  transform: translate(-35%, -35%);
}

header p {
  color: #eeeeee;
  margin-bottom: 30px;
  width: 60%;
}

h1 span {
  font-size: 70%;
  font-weight: 300;
  letter-spacing: normal;
  word-spacing: 2px;
}

header h3 {
  font-size: 150%;
  font-weight: 300;
  letter-spacing: normal;
  word-spacing: 2px;
  color: #eeeeee;
  margin-bottom: 20px;
}

.btn:link,
.btn:visited {
  color: #eeeeee;
  margin-right: 10px;
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  border-radius: 100px;
  padding: 10px 15px;
  font-weight: 400;
  transition: all 0.5s;
}

.btn:hover,
.btn:active {
  background-color: #c0392b;
  border: 1px solid #c0392b;
}

.btn-ghost:link,
.btn-ghost:visited {
  background-color: transparent;
  color: #e74c3c;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: #c0392b;
  border: 1px solid #c0392b;
  color: #eeeeee;
}

/* EXPERIENCE */
.experience-section h2 {
  margin-top: 0;
}

.experience-group {
  border: solid 2px rgb(197, 197, 197);
  width: 70%;
  margin-left: 15%;
  margin-bottom: 15px;
}

.experience-group-header {
  display: flex;
}

.experience-skills-responsibilities {
  display: flex;
  padding: 15px;
}

.skills-title::after {
  display: block;
  height: 2px;
  background-color: #e74c3c;
  content: " ";
  width: 37.5%;
  margin-top: 5px;
}

.responsibilities-title::after {
  display: block;
  height: 2px;
  background-color: #e74c3c;
  content: " ";
  width: 13%;
  margin-top: 5px;
}

.experience-skills {
  width: 150px;
  margin-right: 50px;
}

.experience-skills li {
  list-style: none;
}

.experience-responsibilities {
  width: 100%;
}

.experience-point {
  background-color: rgb(197, 197, 197);
  width: 100%;
  padding: 20px;
}

.experience-point-header {
  display: flex;
  justify-content: space-between;
}

.experience-role {
  font-weight: normal;
}

.experience-img {
  width: 75px;
  height: 75px;
  align-self: center;
}

/* PROJECTS */
.project-section {
  background-color: #3d4752;
  text-align: center;
}

.project-section h2 {
  color: #eeeeee;
  padding: 40px 0;
}

.project-row,
.label-row {
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
}

.project-row {
  margin-bottom: 50px;
}

.group {
  width: 90%;
}

.project-section label {
  font-size: 90%;
  padding: 2px;
  color: #eeeeee;
  text-align: center;
  letter-spacing: 2px;
}

.project {
  background-color: #000000;
  margin: 20px;
  transition: all 0.5s;
  display: flex;
  height: 75%;
}

.project-img {
  max-width: 500px;
  max-height: 400px;
  min-width: 400px;
  min-height: 250px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  transition: all 0.5s;
}

.project-img:hover {
  opacity: 1;
}

.project-description {
  display: flex;
  justify-content: space-around;
}

.project-text {
  align-self: center;
  color: #eeeeee;
  width: auto;
}

.project-title {
  font-weight: bold;
}

.project-title::after {
  display: block;
  height: 2px;
  background-color: #e74c3c;
  content: " ";
  width: 40%;
  margin-top: 5px;
  margin-left: 30%;
}

.project-tools {
  font-weight: normal;
}

/* CONTACT */
.contact-section {
  text-align: center;
}

.contact-form {
  width: 70%;
  margin: 15px auto;
}

.contact-section label {
  align-self: center;
  text-align: left;
  margin-left: 25%;
}

.contact-section label span {
  color: #e74c3c;
}

.input,
select,
textarea {
  width: 100%;
  height: 100%;
  padding: 9px;
  border-radius: 5px;
  border: 1px solid #dadada;
  box-shadow: 2px 4px #c2c2c2;
}

.submit {
  background-color: #e74c3c;
  width: 100%;
  color: #eeeeee;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  transition: all 0.5s;
}

.submit:hover {
  border: 0;
}

.col,
.line {
  display: flex;
}

.form-messages {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.success {
  background-color: lightgreen;
  color: #303841;
}

.error {
  background-color: #e74c3c;
  color: #eeeeee;
}

/* FOOTER */
footer {
  margin-top: 120px;
  font-size: 90%;
  background-color: #303841;
  color: #eeeeee;
  padding: 50px;
}

.footer-nav {
  display: flex;
  width: 110%;
  margin-left: -5%;
  justify-content: space-around;
  align-content: flex-start;
}

.footer-list {
  padding: 5px;
}

.footer-links,
.footer-icon-links {
  list-style: none;
  display: flex;
}

.footer-links li,
.footer-icon-links li {
  padding: 10px;
}

.footer-links li a:link,
.footer-links li a:visited,
.footer-icon-links li a:link,
.footer-icon-links li a:visited {
  color: #b4b4b4;
  transition: color 0.5s;
}

.footer-links li a:hover,
.footer-links li a:active {
  color: #ffffff;
}

.github,
.linkedin {
  transition: transform 0.5s, color 0.3s;
}

.github:hover {
  color: #1b1b1b;
  transform: scale(1.25);
}

.linkedin:hover {
  color: #0077b5;
  transform: scale(1.25);
}

.footer-icons {
  font-size: 180%;
}

.copyright {
  text-align: center;
  width: 50%;
  margin: 55px 0 0 25%;
  color: #b4b4b4;
  font-size: 80%;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background: #e74c3c;
}

::-webkit-scrollbar-thumb:hover {
  background: #c0392b;
}

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}
